In [2]:
import os
os.listdir('C:\Python36-32\Python Projects\jupyter')

['.ipynb_checkpoints',
 'firstunderstanding.ipynb',
 'geopy practice.ipynb',
 'loading different files.ipynb',
 'location service.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [3]:
import pandas
dataframe= pandas.read_json('supermarkets.json')
dataframe.set_index('Address')

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [4]:
import geopy

In [7]:
from geopy.geocoders import Nominatim

In [8]:
nom= Nominatim(scheme='http')

In [12]:
myhome= nom.geocode('1513 Lead Ave Se, Albuquerque,New Mexico, 87106')

In [11]:
type(nom.geocode('1513 lead ave se, albuquerque, New Mexico, 87106'))

geopy.location.Location

In [13]:
myhome[0]

u'1513, Lead Avenue Southeast, Nob Hill, Martinez Town, ABQ, Bernalillo County, New Mexico, 87106, United States of America'

In [14]:
myhome[1]

(35.0788919183673, -106.630588428571)

In [15]:
myhome[1][0]

35.0788919183673

In [16]:
print (myhome)

1513, Lead Avenue Southeast, Nob Hill, Martinez Town, ABQ, Bernalillo County, New Mexico, 87106, United States of America

In [17]:
myhome.latitude

35.0788919183673

In [18]:
myhome.longitude

-106.630588428571

In [19]:
dataframe

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [20]:
dataframe.set_index('Address')

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [22]:
new_house= Nominatim(scheme='http')
new_house_op= new_house.geocode(dataframe['Address']+','+ dataframe['City']+', '+ dataframe['State']])

SyntaxError: invalid syntax (<ipython-input-22-89b22aaadb8f>, line 2)

In [23]:
dataframe['Address']+dataframe['City']+dataframe['State']

0           3666 21st StSan FranciscoCA 94114
1         735 Dolores StSan FranciscoCA 94119
2    332 Hill StSan FranciscoCalifornia 94114
3           3995 23rd StSan FranciscoCA 94114
4      1056 Sanchez StSan FranciscoCalifornia
5        551 Alvarado StSan FranciscoCA 94114
dtype: object

In [27]:
dataframe['Total']= dataframe['Address']+' ' + dataframe['City']+' '+ dataframe['State']

In [28]:
dataframe

,Address,City,Country,Employees,ID,Name,State,Total
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,3666 21st St San Francisco CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,735 Dolores St San Francisco CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,332 Hill St San Francisco California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,3995 23rd St San Francisco CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,1056 Sanchez St San Francisco California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,551 Alvarado St San Francisco CA 94114

In [29]:
dataframe['Latitude']= dataframe['Total'].apply(nom.geocode).latitude
dataframe['Longitude']= dataframe['Total'].apply(nom.geocode).longitude

AttributeError: 'Series' object has no attribute 'latitude'

In [37]:
dataframe['Coordinates']= dataframe['Total'].apply(nom.geocode)

In [38]:
dataframe

,Address,City,Country,Employees,ID,Name,State,Total,Co-ordinates,Coordinates
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,3666 21st St San Francisco CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,735 Dolores St San Francisco CA 94119,None,None
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,332 Hill St San Francisco California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,3995 23rd St San Francisco CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,1056 Sanchez St San Francisco California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,551 Alvarado St San Francisco CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [32]:
dataframe['Co-ordinates'].latidtude

AttributeError: 'Series' object has no attribute 'latidtude'

In [34]:
dataframe.Co-ordinates

AttributeError: 'DataFrame' object has no attribute 'Co'

In [39]:
dataframe

,Address,City,Country,Employees,ID,Name,State,Total,Co-ordinates,Coordinates
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,3666 21st St San Francisco CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California..."
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,735 Dolores St San Francisco CA 94119,None,None
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,332 Hill St San Francisco California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,..."
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,3995 23rd St San Francisco CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California..."
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,1056 Sanchez St San Francisco California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,551 Alvarado St San Francisco CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [40]:
dataframe.Coordinates[0]

Location((37.7564888776, -122.429343347, 0.0))

In [41]:
dataframe.Coordinates

0    (3666, 21st Street, Noe Valley, SF, California...
1                                                 None
2    (332, Hill Street, Noe Valley, SF, California,...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: Coordinates, dtype: object

In [42]:
dataframe.Coordinates[0].latitude

37.756488877551

In [43]:
dataframe['Latitude']= dataframe['Coordinates'].apply(lambda x: x.latitude if x!= None else None)
dataframe['Longitude']= dataframe['Coordinates'].apply(lambda x: x.longitude if x != None else None )

In [44]:
dataframe

,Address,City,Country,Employees,ID,Name,State,Total,Co-ordinates,Coordinates,Latitude,Longitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,3666 21st St San Francisco CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,735 Dolores St San Francisco CA 94119,None,None,NaN,NaN
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,332 Hill St San Francisco California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,3995 23rd St San Francisco CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,1056 Sanchez St San Francisco California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,551 Alvarado St San Francisco CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220

In [45]:
print('Success')

Success